:root {
    --accent-color: #00ff88; /* Un vert futuriste pour le côté récent */
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #0a0a0a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#app {
    text-align: center;
    width: 100%;
    z-index: 2;
}

.search-box {
    position: absolute;
    top: 40px;
    width: 100%;
}

input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px 25px;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    backdrop-filter: blur(10px);
    width: 250px;
    outline: none;
}

#player-ui {
    margin-top: 50px;
    animation: scaleUp 0.8s ease-out;
}

#album-cover {
    width: 350px;
    height: 350px;
    border-radius: 4px; /* Carré moderne */
    box-shadow: 0 30px 100px rgba(0,0,0,0.9);
}

h1 {
    font-size: 4rem;
    margin: 20px 0 5px 0;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -2px;
}

h2 {
    font-size: 1.5rem;
    opacity: 0.7;
    font-weight: 300;
}

.hidden { display: none; }

@keyframes scaleUp {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}
